<!-- ========================================
            SEMI TOP BAR COMPONENT
========================================= -->

<div class="Semi-top-bar">
    <div class="left-section">
        <!-- Logo -->
        <div class="semi-top-image">
            <a href="index.html"><img src="../img/logo.jpeg" alt="Green Marvel Logo"></a>
        </div>
        
        <!-- Search Container -->
        <div class="search-container">
            <input type="text" placeholder="Search products" class="search-input">
            <div class="category-dropdown">
                <p>ALL</p>
                <span class="arrow">▾</span>
                <ul class="search-category-menu">
                    <li><a href="#">Hair Spray</a></li>
                    <li><a href="#">Growth Oil</a></li>
                    <li><a href="#">Hair Food</a></li>
                    <li><a href="#">Combo Deals</a></li>
                    <li><a href="#">Specials</a></li>
                    <li><a href="#">All Categories</a></li>
                </ul>
            </div>
            <button type="submit" class="search-button">
                <i class="fas fa-search search-icon"></i>
            </button>
        </div>
    </div>

    <!-- User Actions Section -->
    <div class="right-section">
        <div class="cart-icon">
            <img src="../img/shopping-bag-svgrepo-com.svg" alt="shopping bag">
        </div>
        <div class="Account icon">
            <img src="../img/compare-svgrepo-com.svg" alt="account">
        </div>
        <div class="whishlist icon">
            <img src="../img/whichlist-svgrepo-com.svg" alt="whishlist">
        </div>
        <div class="Account icon">
            <img src="../img/account-svgrepo-com.svg" alt="account">
        </div>
        <div class="notification icon">
            <img src="../img/Notifications-svgrepo-com.svg" alt="notification">
        </div>
    </div>     
</div>