<!-- ========================================
     STICKY NAVIGATION (HIDDEN BY DEFAULT)
======================================== -->
<nav class="sticky-nav" id="stickyNav">
    <div class="sticky-nav-container">
        <!-- Logo -->
        <div class="sticky-nav-logo">
            <a href="index.html">
                <img src="../img/logo.jpeg" alt="Green Marvel Logo">
            </a>
        </div>

        <!-- Navigation Menu -->
        <ul class="sticky-nav-menu">
            <li class="nav-item"><a href="shop.html">Shop</a></li>
            <li class="nav-item"><a href="about.html">About Us</a></li>
            <li class="nav-item"><a href="faq.html">FAQ</a></li>
            <li class="nav-item"><a href="contact.html">Contact</a></li>
        </ul>

        <!-- Right Section Icons -->
        <div class="sticky-nav-icons">
            <div class="cart-icon icon">
                <img src="../img/shopping-bag-svgrepo-com.svg" alt="shopping bag">
            </div>
            <div class="account-icon icon">
                <img src="../img/compare-svgrepo-com.svg" alt="account">
            </div>
            <div class="whishlist-icon icon">
                <img src="../img/whichlist-svgrepo-com.svg" alt="wishlist">
            </div>
            <div class="account-icon icon">
                <img src="../img/account-svgrepo-com.svg" alt="account">
            </div>
            <div class="notification-icon icon">
                <img src="../img/Notifications-svgrepo-com.svg" alt="notification">
            </div>
        </div>
    </div>
</nav>